{% extends 'base.html' %}

{% block content %}
<div style="text-align: center; color: white;">
    <h2>CHECKOUT</h2>
    
    <div style="background: rgb(236, 137, 187); color: rgb(240, 172, 172); padding: 20px; border-radius: 10px; display: inline-block;">
        <h3 style="color: #4a54ad;">Total Amount: Rs {{ final_total }}</h3>
        
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" style="background: rgb(46, 215, 221); padding: 10px 20px; border: none; cursor: pointer; font-weight: bold;">
                PLACE ORDER
            </button>
        </form>
    </div>
</div>
{% endblock %}